.form, .thanks {
    max-width: 500px;
    margin: auto;
}
.form h3{
    margin: 2rem 0 1rem 0;
}
.form__submit {
    margin: 1rem 0 !important;
    color: white !important;
    font-weight: bold !important;
}

.form__terms {
    text-decoration: none;
    color: #26E2EC;
    position: relative;
    left: -10px;
    top: 1px;
}
.form__terms:hover {
    color: rgb(26, 158, 165);
}
.thanks table {
    min-width: auto !important;
}
.thanks p {
    text-align: center;
}
.thanks a {
    display: block;
    width: fit-content;
    margin: 1rem auto !important;
    text-decoration: none;
}

@media (max-width: 820px) {
    .form__terms, .MuiCheckbox-root {
        font-size: 12px !important;
    }

}
