.header {
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.header__logo {
    display: block;
    margin: auto;
    width: 200px;
}

@media (max-width: 1024px) {
    .header {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .header__logo {
        width: 180px;
    }
}
